@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Neonderthaw&family=Raleway&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100%;
    height: 100%;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 0;
    padding: 2px;
    min-height: 100vh;
    flex-direction: column;
}

a{
    text-decoration: none;
    font-weight: bold;
}

h1 a{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: orange;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    list-style: none;

}

h1 a:hover{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 10px;
    font-family: 'Raleway', sans-serif;

}

/* CSS Menu e Cabeçalho */
header{
    /* background-color: #23232e; */
    position: sticky;
    top: 0;
    border-radius: 3px;
    z-index: 1000;
    border-bottom: 1px solid orange;
}
.container-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 12vh;
}

nav h2{
    margin-left: 10px;
    display: block;
}



main{
    background-color: #fff;
    flex: 1;
}

#itens-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    /* background-color: aqua; */
    width: 68px;
}
.links-menu{
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
}

.links-menu a{
    color: #23232e;
    height: 40px;
}

.links-menu li a:hover{
    color: orange;
    font-weight: bolder;
    transition: .2s ease-in;
    font-size: 1.5rem;
}

.links-menu li{
    letter-spacing: 2px;
    margin-left: 0px;
    height: 50px;
}

.links-menu.aberto{
    position: absolute;
    display: flex;
    left: -2px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw ;
    height: 591px;
    background-color: #eee;
    transition: 1s;
    top: 80px;
    
}
.qqq{
    display: flex;
    align-items: center;
    justify-content: center;
}
.qqq button{
    width: 40px;
    height: 35px;
    padding: 10px;
    margin-left: 3px;
    display: flex;
    align-items: center;
}
.qqq input{
    border-radius: 4px;
    border: none;
    padding: 10px;
}




/* Fim CSS Menu e Caeçalho */


.limitador{
    max-width: 1100px;
    margin: auto;
}
.logo-vitrine{
    text-align: center;
    color: #ff7800;
}

#prateleiras{
    display: flex;
    flex-direction: row;
}

.filtros{
    border: 1px solid black;
    width: 40%;
}
.container-prod{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.itens img{
    width: 80%;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 320px;
    border: 0px solid black;
    margin: 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px;
}
.itens #itens{
    color: black;
    font-weight: 400;
}


.itens #addcart{
    color: #ffa500;
    display: block;
    background-color: #23232e;
    width: 90%;
    border-radius: 10px;
    height: 60px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.itens p{
    text-align: center;
}

h3{
    text-align: center;
    padding: 10px;
    color: #ff7800;
}


#entrega-rapidas{
    /* background-color: #23232e; */
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

#entrega-rapidas aside{
    background-color: #fff;
    box-shadow: #eeee 1px 1px 2px 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 120px;
    height: 170px;
    margin: 5px;   
}

#entrega-rapidas aside p{
    text-align: center;
    font-size: 1.2rem;
}

/* Inicio CSS Comentarios */
#depoimentos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffa500;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#depoimentos h2{
    font-size: 1.5rem;
    margin: 5px;
    color: white;
}

.card{
    position: relative;
    width: 300px;
    height: 370px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.531);
    margin: 10px;
}
.card:nth-child(2){
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.531);
    margin: 10px;
}
.card .icon-user{
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
}
.conteudo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.conteudo .info{
    width: 200px;
    font-size: 1rem;
    text-align: justify;
}
.conteudo .iconss{
    position: absolute;
    font-size: 1.2rem;
    color: #9e3ffd ;
}

.conteudo .iconss:nth-child(1){
    left: 20px;
    top: 0;
}
.conteudo .iconss:nth-child(2){
    right: 25px;
    bottom: 0;
}

.name{
    position: relative;
    width: 100%;
    padding: 20px 30px;
    line-height: 15px;
}

.name::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    top: 10px;
    left: 10px;
    background: #9e3ffd;
}

/* Fim CSS Comentarios */


/* Inicio login php */
#form-cont{
    background-color: #ff7800;
}

/* Fim CSS Login PHP */


.carrinho-cont{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: 2px;
    height: 300px;
}
.carrinho-cont img{
    width: 100%;
}
.carrinho-cont article{
    border-radius: 1px solid black;
    display: flex;
    height: 190px;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.carrinho-cont {
    border-radius: 1px solid black;
    display: flex;
}
.img-carrin{
    border: 1px solid black;
    width: 50%;
    height: 100px;
}

.carrinho-produto{
    border-radius: 1px;
}

footer{
    background-color: #23232e;
    width: 100%;
    height: 300px;
}
@media screen and (min-width: 750px) {
    .container-nav{
        justify-content: space-around;
        flex-direction: row;
    }
    .links-menu{
        display: flex;
        justify-content: space-between;
        
    }
    nav h2{
        display: none;
    }
    .links-menu li{
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 32px;
    }
    .links-menu a{
        color: #ff7800;
    }
    .links-menu li a:hover{
        color: #23232e;
        font-size: 1.4rem;
    }
    .hamburguer{
        display: none;
    }
}

